@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
   }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    /* font-family: "Inter", sans-serif; */
}

#header {
    max-width: 1300px;
    margin: 2rem auto;
    padding: 0 2rem;
}

svg {
    height: 40px;
    width: 100px;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__wrapper > div:first-child {
    display : flex;
    gap: 3rem;
    align-items: center;
}

.nav__wrapper a {
    text-decoration: none;
}

.nav__link {
    color:#5f6978;
}

.nav__item {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav__btn__desktop {
    background-color: #2563eb;
    border-radius: 25px;
    padding: .5rem 1rem;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.nav__btn__mobile{
    display: none;
}

.menu__icon {
    display: none;
}

#hero {
    margin-top: 160px;
}

.hero__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

.hero__wrapper  h1, .hero__wrapper span {
    font-size: 4rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
}

.hero__wrapper span {
    color: rgb(74, 74, 240);
}

.hero__wrapper  .booking{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.7;
    margin-top: 1.5rem;
    color: #334155;
}

.hero__btns {
    margin-top: 2.5rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 200px;
}

.hero__btns  a {
    text-decoration: none;
    text-align: center;
    font-family: "Inter", sans-serif;
    border-radius: 24px;
    padding: .5rem 1rem;
}

.first {
    background-color: #0f172a;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.second {
    border: 1px solid #c8ccd1;
    display: flex;
    align-items: center;
    color: #334155;
    font-weight: 500;
    font-size: 14px;
    gap: .3rem;
}

.hero__btn > .bx-play {
    color:#225cdb;
}

.Trusted__companies {
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
}

.companies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.companies img{
    width: 80%;
}

#features {
    padding: 8rem 0;
    background-color: #2563eb;
    color: #fff;
    overflow: hidden;
}

.features__container .title {
    font-size: 2.8rem;
    text-align: center;
}

.features__container .sub__title {
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-top: 1.5rem;
}

.features__container, .testimonial__container, .pricing__container, .faq__container, .footer__container, .business__task__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 2rem;
}

.features__card {
    margin-top: 4rem;
    display: flex;
    gap: 3rem;
    align-items: center;
}
.features__card .card {
    width: 40%;
}

.features__images {
    width: 70%;
    display: flex;
}

.features__images > img {
    width: 140%;
    border-radius: 24px;
}


.card__detail{
    margin: 3.5rem 0;
}

.card__detail h1{
    font-size: 18px;
    margin: 1rem 0;
    font-weight: 500;
}

.card__detail >  p {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}

#business__task{
    padding: 8rem 0;
}

.business__task__container .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
.business__task__container .sub__title {
    text-align: center;
    width: 680px;
    margin: 0 auto;
    color: #5f6978;
    font-size: 19px;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}

.bxs-report {
    font-size: 36px;
    color: #2563eb;
}

.bxs-bank, .bxs-contact {
    font-size: 36px;
    color: #5f6978;
}

.business__task__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    gap: 2rem;
}


.card > h5{
    color:#2563eb;
    font-weight: 400;
    margin: 1rem 0;
}

.card .info{
   color: #5f6978;
}

.card > h1 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color:#0f172a;
}

.card > p {
    line-height: 1.7;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #5a6779;
}

.business__task__image {
    display: flex;
    gap: 2rem;
    max-width: 1300px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem;
    background-color: #e6e7e8;
    border-radius: 24px;
    overflow: scroll;
}

.business__task__image > img{
    width: 90%;
    height: 90%;
    border-radius: 16px;
}


.get_started__container {
    position: relative;
    overflow: hidden;
    background-color: #2563eb;
    padding: 4rem 0;
    color: #fff;
}

.get__started__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: none;

}

.get__started__wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

.get__started__wrapper h1 {
    font-size: 2.5rem;
    text-align: center;
}

.get__started__wrapper p{
    text-align: center;
    max-width: 530px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5
}

.get__started__btns {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.get__started__btns a {
    text-decoration: none;
    color: #000;
    font-family: "Inter", sans-serif;
    border-radius: 24px;
    padding: .5rem 1rem;
    background-color: #fff;
    font-weight: 500;
    font-size: 14px;
}

#testimonial {
    background-color: #f8fafc;
    padding: 8rem 0;
}


.testimonial__container > h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
}

.testimonial__container > p {
    text-align: center;
    max-width: 690px;
    margin: 2rem auto;
    color: #334155;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.8;
}

.blockquote__icon{
    position: absolute;
    left: 6;
    top: 0;
    font-size: 120px;
    color: #f1f5f9;
}

.testimonial__blockquote {
    position: relative;
}

.testimonial__wrapper {
    display: column;
    columns: 3;
    column-gap: 2rem;
    margin-top: 4rem;
}

.testimonial__wrapper > div {
    break-inside: avoid;
    margin-bottom: 2rem;
}

.testimonial__card {
    position: relative;
    padding: 1.7rem;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    box-shadow: rgb(15 23 42 / 0.1);
}

.testimonial__card p:first-child {
    line-height: 1.8;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #0f172a;
    font-size: 17px;
    margin-bottom: 2rem;

}

.testimonial__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    border-top: 2px solid #f1f5f9;

}

.testimonial__info > div > h2{
    font-size: 1rem;
    color: #0f172a;
    font-weight: 400;
}

.testimonial__info > div > p {
    margin-top: 1rem;
    font-size: 14px;
    color: #64748b;
    font-family: "Inter", sans-serif;

}

.testimonial__card img {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    object-fit: cover;
}

#pricing {
    background-color: #0f172a;
    padding: 8rem 0;
    color: #fff;
}

.pricing__container > h1 {
    text-align: center;
    font-size: 2.5rem;
}

.pricing__container > p {
    text-align: center;
    max-width: 700px;
    font-family: "Inter", sans-serif;
    color: #94a3b8;
    font-size: 18px;
    margin: 2rem auto;
}

.pricing__wrapper {
    margin-top: 5rem;
    display: flex;
    gap: 3rem;
}

.pricing__card {
    width: 100%;
    padding: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.pricing__card > h1 {
    font-size: 3rem;
    margin-bottom: 1.7rem;
}

.pricing__card > p {
    font-size: 20px;
}

.pricing__card .title {
    font-size: 1rem;
    margin-top: 1rem;
    width: 95%;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #94a3b8;

}

.pricing__card > a {
    display: block;
    border: 1px solid #4a515b;    ;
    text-align: center;
    border-radius: 24px;
    text-decoration: none;
    margin: 2rem 0;
    padding-top: .6rem;
    padding-bottom: .6rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #e2e8f0;
    font-size: 14px;

}

.popular > a {
   background-color: #fff;
    border: 1px solid #fff;
    color: #000;
}

.pricing__card > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: .8rem 0;
    color: #cbd5e1;
}

.popular > div, .popular > .title {
    color: #fff;
} 

.pricing__card > div  p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.popular {
    background-color: #2563eb;
    border-radius: 24px;
}

i {
    font-size: 24px;
}

.faq {
    padding: 8rem 0;
    position: relative;
    overflow: hidden;
}

#faq img {
    position: absolute;
    left: 1/2;
    top: 0;
    transform: translateY(-25%) translateX(-30%);
    max-width: none;
}
.faq__container {
    position: relative;
}

.faq__container .title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.faq__container .sub__title {
    margin-bottom: 3rem;
    width: 52%;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.faq__wrapper {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.faq__card > div {
    margin-bottom: 2.5rem;
}

.faq__card > div > h1 {
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: 400;

}

.faq__card > div > p{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 1.7;
}

#footer{
    padding-top: 8rem;
    padding-bottom: 3rem;
}

.footer__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #f1f5f9;
}

.footer__logo div{
    display: flex;
    gap: 2.5rem;

}

.footer__logo a {
    text-decoration: none;
    color: #0f172a;
}

.footer__info {
    height: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bxl-twitter{
    margin-right: 2rem;
}

.footer__info p {
    color: #81878f;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}


@media screen and (max-width: 1024px)  {

    .companies{
        gap: 4rem;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .companies img{
        width: 200px;
    }

    .features__card {
        flex-direction: column;
    }

    .features__card .card {
        width: 100%;
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .features__images{
        width: 100%;
    }

    .features__images > img {
        width: 100%;
    }

    .business__task__container .sub__title{
        width: 100%;
    }

    #testimonial, #pricing, #faq {
        padding: 8rem 8rem;
    }

    .business__task__cards {
        grid-template-columns: 1fr;
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .testimonial__wrapper {
        columns: 1;
    }

    .pricing__wrapper{
        flex-direction: column;
    }
    .pricing__card {
        order: 2;
    }
    .popular{
        order: 1;
    }

    .faq {
        padding: 8rem 8rem;
    }

    .faq__wrapper{
        grid-template-columns: 1fr;
    }

    .faq__container .sub__title{
        width: 100%;
    }
}


@media screen and (max-width: 868px) {
    #testimonial, #pricing, #faq {
        padding: 8rem .5rem;
    }

    .nav__link {
        display: none;
    }

    .menu__icon {
        display: block;
    }

    .nav__btn__mobile {
        display: block;
        background-color: #2563eb;
        border-radius: 25px;
        padding: .5rem 1rem;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }
    .nav__btn__desktop{
        display: none;
    }

    .nav__item {
        gap: 1rem;
    }

    .hero__wrapper  h1, .hero__wrapper span {
        font-size: 3.5rem;
    }

    .business__task__cards {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .companies{
        gap: 4rem;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .companies img{
        width: 200px;
    }

    .features__card .card {
        width: 100%;
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .business__task__cards {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .business__task__image {
        padding: .5rem;
    }

    .business__task__image > img{
        width: 100%;
        height: 100%;
    }
    
}

@media screen and (max-width: 500px) {
    #header {
        padding: 0 1rem;
    }

    #hero {
        margin-top: 120px;
    }

    .hero__btns {
        margin-bottom: 150px;
    }

    .features__container, .testimonial__container, .pricing__container, .faq__container, .footer__container, .business__task__container {
        padding: 0 1rem;
    }

    .hero__wrapper  h1, .hero__wrapper span {
        font-size: 3rem;
        max-width: 90%;
    }

    .hero__wrapper  .booking{
        width: 90%;
        text-align: center;
    }

    .companies{
        gap: 3rem;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .companies img{
        width: 150px;
    }

    #features{
        padding: 5rem 0;
    }

    .features__container .title {
        font-size: 2rem;
        text-align: left;
    }

    .features__container .sub__title {
        font-size: 1rem;
        text-align: left;
        line-height: 1.5;
    }

    .features__card {
        margin-top: 1.5rem;
    }
    
    .features__images > img {
        width: 200%;
        border-radius: 24px;
    }

    .business__task__container .title, .testimonial__container > h1, .pricing__container > h1 {
        text-align: left;
        font-size: 2rem;
    }
    .business__task__container .sub__title, .testimonial__container > p, .pricing__container > p {
        text-align: left;
        width: 100%;
        font-size: 16px;
        line-height: 1.5;
    }

    .business__task__image > img{
        width: 300%;
    }
    .get__started__wrapper h1 {
        font-size: 2rem;
    }

    #testimonial, #pricing, #faq {
        padding: 6rem 0rem;
    }
    .pricing__card{
        padding: 1.5rem;
    }
    .pricing__wrapper{
        gap: 1rem;
    }

    .bottom {
        display: block;
    }
    .footer__info{
        flex-direction: column-reverse;
        gap: 2rem;
    }
}